* {
}
body {
  background-image: url(./assets/background.jpg);
  background-attachment: fixed;
  background-position: center;
  font-family: 'IM Fell French Canon SC', serif;
}
.main {
  padding: 20px;
}
.nav {
  padding: 10px;
  background-color: black;
}
input {
  padding: 0 5px;
  border-radius: 5px;
  max-width: 90px;
  margin-left: 10px;
}
.submit {
  padding: 1px 5px;
}
.select {
  margin-left: 10px;
}
.link {
  display: block;
  cursor: pointer;
  color: #792a03;
  text-decoration: underline;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  font-family: 'IM Fell French Canon SC', serif;
}
.inline {
  display: inline;
}
.title {
  font-weight: bold;
}
