* {
}
.main {
  padding: 20px;
}
.link {
  display: block;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  border: none;
  font-size: 1rem;
}
.inline {
  display: inline;
}
.title {
  font-weight: bold;
}
